

/*   hidden   */
	
	.hidden {   position:absolute;   left:-9999px;   width:1px;   height:1px;   font-size:0;   
				  line-height:0;   overflow:hidden;  
	}


/*   header1 - logo + option   */
	

	.logoarea, .gnbarea {   border-bottom:1px  solid  #eee;    }
	
	.logobox  {   width:50%;    height:100%;    float:left;      text-transform:uppercase;      }
	.logobox:after {  content:""; clear:both; display:block;  }  
		.logobox a:link, .logobox a:visited  {   display:block;  width:30%;   height:100%;  
						font-size:18px;    color:#777;   line-height:58px;  
		}
		.wcolor {   font-size:30px;  color:#e56e6e;   }
	.optionbox  {   width:50%;  height:100%;    float:left;     }
	.optionbox:after {  content:""; clear:both; display:block;  }  
		.optu {   /*  width:54%;  */  height:100%;   float:right;     }
		.optu:after { content:""; clear:both; display:block; }    
		.optuinner {     height:100%;   float:left;      }
		.optuinner:after {  content:""; clear:both; display:block;  }  
		.optuinner.l31 {  width:50px;     
							background-image:url('../images/option_line.png');
							background-repeat:no-repeat;
							background-position:46px  28px;
		} 
		.optuinner.l32 {   width:108px;  
							background-image:url('../images/option_line.png');
							background-repeat:no-repeat;
							background-position:104px  28px;
		} 
		.optuinner.l33 {  width:60px; 
							background-image:url('../images/option_line.png');
							background-repeat:no-repeat;
							background-position:58px  28px;
		} 
		.optuinner.l34  {  width:52px;  } 


		.optuinner a:link ,  .optuinner a:visited {   display:block;  width:100%;  height:100%;  
							font-size:12px;  color:#999;    line-height:64px;   text-indent:5px;  
	    }
		.optuinner a:hover ,  .optuinner a:focus {  color:#333;    }

/*   header1 - gnb   */
	

	.gnbu  {  width:75%;  height:70px;   float:left;  }
	.gnbu:after {  content:""; clear:both; display:block;  }
		.gnbl {  height:100%;   float:left;    }
		.gnbl:after {  content:""; clear:both; display:block;  }
		.gnbl.l61 {  width:19%;    }
		.gnbl.l62 {   width:19%;     }
		.gnbl.l63 {   width:20.5%;      }
		.gnbl.l64 {   width:12.5%;       }
		.gnbl.l65 {   width:14.5%;      }
		.gnbl.l66 {   width:14.5%;     }
		

		.gnbl a:link ,  .gnbl a:visited  {   display:block;   width:100%;  height:100%;   color:#333;
									font-size:16px;   line-height:70px;  font-weight:500;
		}
		.gnbl a:hover ,  .gnbl a:focus  {   font-size:16px;  color:#e56e6e;   }
			.gnbl.l66 a:link ,  .gnbl.l66 a:visited  {  color:#e56e6e;   }
			.gnbl.l66 a:hover ,   .gnbl.l66 a:focus  {  color:#66c0ac; }


	.searchbox  {  width:25%;  height:100%;  float:right;   }
	.searchbox:after {  content:""; clear:both; display:block;  }
	
		.forminfo { width:100%;  height:100%;   }
		 fieldset {   width:100%;  height:100%;  }
		 .formp.p1 {  width:100%;  height:64px;  }
			 .inputbox {  width:74.3%;  height:40px;   background-color:#fff;  border:1px solid #ddd;   
						margin-top:15px;  float:left;   border-right:none;   font-size:12px;  text-indent:10px;
						color:#999;	 box-sizing: content-box;    
			  }
			.inputbox:after {   content:""; clear:both; display:block;  }

			 .submitbtn {  width:23.3%;  height:40px;  background-color:#fff;  border:1px solid #ddd; 
						margin-top:15px;  float:left;    cursor: pointer;	 color:#777;	
						box-sizing: content-box;  
						background-image:url('../images/search_btn.png');
						background-repeat:no-repeat;
						background-position:50%;
			  }
		    .submitbtn:after {   content:""; clear:both; display:block;   }

		.forminfo input {   vertical-align: middle;   }



/*      header2 - logo     */

	.logoarea2 .logobox  {   width:100%;    height:100%;    float:left;      text-transform:uppercase;     }
	.logoarea2  .logobox:after {  content:""; clear:both; display:block;  }   
	.logoarea2  .logobox a:link, .logoarea2  .logobox a:visited  {   display:block;   width:100%;   height:100%;  
							font-size:20px;    color:#777;   line-height:94px;  
	}
	.logoarea2  .wcolor {   font-size:32px;  color:#e56e6e;  padding-left:10px;  }
	
	.gnbarea2  {   position:relative;   }
	.gnbarea2 .hbtn  {   width:35px;  height:35px;   position:absolute;  top:32%; right:20px;   }
	.gnbarea2 .hbtn a {   display:block;   width:100%;   height:100%;   }
	.gnbarea2 .hbtn  img  {    }





/*              반응형               */


		/*   PC2        [1600~]        */
		@media all and (min-width:1600px) {  }
		/*   PC1        [1024~1599]  */
		@media all and (min-width:1024px) and (max-width:1599px) { 	}
		/*   TABLET2  [768~1023]   */
		@media all and (min-width:768px) and (max-width:1023px) {  
				
				.optuinner a:link ,  .optuinner a:visited  {    }
				.gnbl.l64 {    text-indent:6px;    }
				.searchbox  {  width:24%;  } 
				
		}
		/*   TABLET1  [481~767]     */
		@media all and (min-width:481px) and (max-width:767px) {  
				
			
			
		}

		/*   MOBILE   [280~480]    */
		@media all and (max-width:480px) {  
			
				/*      header2 - logo     */
					
					.logobox a:link, .logobox a:visited  {   	font-size:18px;   	}
					.wcolor {   font-size:30px;  color:#e56e6e;   }


					.gnbarea2  {   position:relative;   }
					.gnbarea2 .hbtn  {   width:35px;  height:35px;   position:absolute;  top:32%;  right:20px;    }
					.gnbarea2 .hbtn a {   display:block;   width:100%;   height:100%;   }
					.gnbarea2 .hbtn  img  {    }
				
		}
