

/*   sub - 카드이용안내   */


	.maininner {  width:100%;   min-height:500px;    /*  background-color:#ffcccc; */  }
	.contant.c1 {   width:100%; height:360px;    /* background-color:#66cccc;  */  }

	.subnavbox {  width:100%;  height:30px;   margin-top:20px;    position:relative;  /*  background-color:#66cccc; */
			
	}
	.subnav  {  width:110px;  height:30px;   position:absolute;  top:0px;  right:0px;  
					background-image:url('../images/subnav_arrow.png');
					background-repeat:no-repeat;
					background-position:25px  9px;
	}
	.subnav  a {   float:left;      }
	.subnava1 {    width:42px; height:30px;  line-height:28px;  }
	.subnava2 {    width:68px; height:30px;   line-height:26px;  }

	.subnava1:link,  .subnava1:visited,
    .subnava2:link,  .subnava2:visited,
	.subnava3:link,  .subnava3:visited   {  display:block;   
							                      font-size:12px;   color:#555;     
	}
	.subnav .subnava2:hover,  .subnav .subnava2:focus,
	.subnav .subnava3:hover,  .subnav .subnava3:focus   { 
					/*	text-decoration:underline; */   color:#333;					
	}


	.cvisual.c1  {  width:100%;   height:300px;    }
		.cvisual.c1  .htitle.h3 {   width:100%;    height:44px;  font-size:24px;    font-weight:300;   padding-top:16px;    
						background-image:url('../images/stitle_bullet.jpg');
						background-repeat:no-repeat;
						background-position:0px  0px;   
		}
		.htitle.h3 span {   font-weight:500;  padding-left:4px;   }

		.cvisualbox {   width:100%;  height:240px;   position:relative;  background-color:#f6f6f6;    
					/*	background-image:url('../images/45.jpg');
						background-repeat:no-repeat;
						background-position:center;    */
		
		}
		.cvisualbox.m2 {  
						background-image:url('../images/m2_bn.jpg');
						background-repeat:no-repeat;
						background-position:center; 
		}
		.cvisualbox span {   display:block;    }
		.cvdesc1  {    position:absolute;  top:0px;  right:140px;      }
		.cvdesc2  {    position:absolute;  top:30px;  right:84px;      }
		.cvdesc3  {    position:absolute;  top:60px;  right:0px;      }


	.contant.c2 {   width:100%;   min-height:500px;      background-color:#f6f6f6;  
					/*	background-color:#f9f8f2;  */  padding-bottom: 60px; 
	}
		.contant.c2 .htitle.h3 {  width:100%;    height:55px;  font-size:20px;   
								 font-weight:500;     padding-top:40px;   color:#333; 
								 text-align:center;   
		}
		.ctabmenu {   width:99.8%;  min-height:300px;    background-color:#fff;   /* margin-bottom:60px;  */
						 border-top:1px  solid  #e5e5e5;   border-left:1px  solid  #e5e5e5;
						 border-right:1px  solid  #e5e5e5;   border-bottom:5px  solid  #999;
		}
			.ctab {     /*  width:958px;  */   width:95.8%;   height:auto;  margin:0 auto;   margin-bottom:60px;   }
			.ctab:after {  display:block;   content:"";   clear:both;   }
			.ctab > li {   width:33.3333%;  /* height:60px;  */  float:left;  
							padding-top:10px;  
			}
			.ctab > li > a:link ,  .ctab > li > a:visited {   display:block;  width:100%;  height:100%;   line-height:60px;   text-align:center;  
											color:#777;   font-size:16px;    border-bottom:2px  solid  #ddd;  font-weight:normal;
			}
			.ctab > li > a:hover ,  .ctab > li > a:focus  {       border-bottom:2px  solid  #e56e6e;  color:#333; 	}


			.cpanel {  width:956px;   min-height:150px;  position:relative;  }
			.cpanel.pn2 {   top:0px;  left:-318px;    }
			.cpanel.pn3 {   top:0px;  left:-637px;    }

			.cdesc  {    width:100%;   min-height:50px;    border-bottom:1px  solid  #eee;   
							padding:50px 0;   background-color:#fff;  float:right;
			 }
			.cdesc strong  {   display:block;      padding:0  0  14px  400px;    font-size:16px;  color:#333;   
									font-weight:400;
			}
			.cdesc span {   display:block;   font-size:14px;     color:#777;   line-height:24px;  padding-left:400px;  
								font-weight:normal;
			}
		    .cdesc .ctspanbr {     padding-top:14px;   /* color:#3f9db4;   */  color:#6bafc0;  }
			.cdesc .ctspanpoint  {     color:#6bafc0;  }
			.cdesc .ctspanpoint2  {  padding-left:410px;   }
			
			.ctab.m2 {    	  }
			
			.cdesc.m2 {    position:relative; 
							   background-image:url('../images/m3_line_01.jpg');
							   background-repeat:no-repeat;
			
			}
			.cdesc.m2.cd1 {    background-position:340px  44px;    }
			.cdesc.m2.cd2 {    background-position:340px  84px;   }
			.cdesc.m2.cd3 {    background-position:340px  56px;    }
			.cdesc.m2.cd4 {    background-position:340px  70px;    }
			.cdesc.m2.cd5 {    background-position:340px  44px;    }

			.cdesc.m2 img {   width:120px;  height:100px;   background-color:#777;   
						           position:absolute; 
			}
			.cdesc.m2.cd1  img  {     top:32px;  left:160px;     }
			.cdesc.m2.cd2  img  {     top:70px;  left:160px;     }
			.cdesc.m2.cd3  img  {     top:44px;  left:160px;     }
			.cdesc.m2.cd4  img  {     top:56px;  left:160px;     }
			.cdesc.m2.cd5  img  {     top:32px;  left:160px;     }


			.menu2  .cdesc.m2.cd1, .menu3 .cdesc.m2.cd1 {    background-position:340px  64px;    }	
			.menu2  .cdesc.m2.cd1 img, .menu3 .cdesc.m2.cd1  img {   top:52px;  left:160px;     }




/*   sub - 포인트적립안내   */


		.subnav.m3  {   width:122px;  height:30px;   }
		.subnav.m3 > .subnava2 {    width:80px;  height:30px;   }
			
		.cvisualbox.m3 {  
						background-image:url('../images/m3_bn.jpg');
						background-repeat:no-repeat;
						background-position:center; 
		}
		

		.ctabmenu.m3ctab .ctab > li {   width:50%;  /*  height:60px;  */  float:left;  padding-top:10px;   }

		.ctab.m3 {      /*  width:958px;  */   width:95.8%;  height:auto;  margin:0 auto;   margin-bottom:60px;   }

		.ctab.m3  .cpanel.pn2 {   top:0px;  left:-478px;    }

		.cdesc.m3  {  background-image:url('../images/m3_line_01.jpg');
						 background-repeat:no-repeat;
						 background-position:215px 68px; 
		}
		.cdesc.m3 strong  {    padding:0  0  14px  270px;   	}
		.cdesc.m3 span {    padding-left:270px;    }
		.cdesc.m3 img {   width:120px;  height:100px;  /* float:left; */   background-color:#777;   
							position:absolute;  top:56px;  left:40px; 
		}

		.cdesc.m3.cd1, .cdesc.m3.cd2, .cdesc.m3.cd3,
		.cdesc.m3.cd4, .cdesc.m3.cd5, .cdesc.m3.cd6  {   position:relative;   }

		.m3brandbtn:link, .m3brandbtn:visited   {  display:block;   width:140px;   height:40px; 
							font-size:13px;  color:#999;	position:absolute;   top:94px;   right:40px;  
							text-indent:22px;  line-height:40px; 

							background-image:url('../images/m3_morebtn_01.png');
							background-repeat:no-repeat;
							background-position:center; 
				
		}
		.m3brandbtn:hover, .m3brandbtn:focus {   color:#999;   }




/*   sub - 포인트적립안내 - 포인트사용&적립 가맹점 안내   */

	
	.subnav.m3.s2  {   width:292px;  height:30px;   }
	.subnav.m3.s2  > .subnava2 {    width:104px;  height:30px;   
							background-image:url('../images/subnav_arrow.png');
						    background-repeat:no-repeat;
					        background-position:88px  9px;		
	}
	.subnav.m3.s2  > .subnava3 {    width:146px;  height:30px;  line-height:26px;   }
	
	.subnav.m3.s2 .subnava2:link,  .subnav.m3.s2 .subnava2:visited  {  
									display:block;   font-size:12px;   color:#999;     
	}
	.subnav.m3.s2 .subnava2:hover,  
	.subnav.m3.s2 .subnava2:focus { 
					/*	text-decoration:underline; */   color:#777;					
	}


	.formbox.m3 {  width:100%;   /* margin-top:20px; */  }
	.formbox.m3 .htitle.h3  {   width:100%;    height:54px;  font-size:24px;    font-weight:300;   padding-top:16px;     
									background-image:url('../images/stitle_bullet.jpg');
									background-repeat:no-repeat;
									background-position:0px  0px;   
			
	}

	.c4form  {   width:100%;   height:74px;  border-top:3px solid  #ccc;    border-bottom:1px solid #ccc;   
					position:relative;     /*   background-color:#eee;     margin-top:30px;   */ 
	}
	
	/*************    select design    ***************/

		legend  {    font-size:18px;   color:#333;     line-height:72px;      text-indent:20px;  }
		legend  span {    color:#999;  padding-left:10px;   }
		.c4formbox {     width:675px;  height:42px;   /*  background-color:blue;  */  position:absolute;   top:16px;  right:20px;   }
			.c4selectbox  {  width:180px;    height:40px;      float:left;        }   

	

	 /**********   크로스 브라우징     **********/

	
			select {
						  width: 180px;  height:40px;    padding-left:10px;  /*  font-family: inherit;  폰트 상속*/
						 color:#999;	  font-size:12px;
						  background: url('../images/search_arrow.png') no-repeat 93% 50%; /* 네이티브 화살표 대체 */  
						  border: 1px solid #ddd;   border-radius: 0px; /* iOS 둥근모서리 제거 */
						 
						  -webkit-appearance: none; /* 네이티브 외형 감추기 */
						  -moz-appearance: none;
						  appearance: none;    
						 
				}

			/* IE 10, 11의 네이티브 화살표 숨기기 */
			select::-ms-expand {  display: none;    }

			 
	/*************    검색버튼 design    ***************/

	
		.c4inputbox  {   width:484px;    height:40px;    padding-left:8px;   float:right;    }
			 .inputbox3 {  width:400px;  height:40px;     background-color:#fff;  border:1px solid #ddd;   
							  float:left;   border-right:none;   font-size:12px;  text-indent:10px;     color:#999;
							
			 }
			 body:first-of-type input.inputbox2 {    height:38px;    -webkit-appearance:none;   -moz-appearance: none;
				  appearance: none;  }
		

		.submitbtn3 {   width:80px;  height:40px;  background-color:#fff;    border:1px solid #ddd;    
						    cursor: pointer;	  color:#777;
							-webkit-appearance:none;   -moz-appearance: none;
							 appearance: none; 
							/*  border:none;  
							background-image:url('../images/search_btn.png');
							background-repeat:no-repeat;
							background-position:0px 0px;  */
		}  
	

	/******************  지도영역   ******************/
		
	
		.maininner.m3.s2  .contant.c1  {   width:100%;   height:auto;    margin-bottom:60px;  }

		.mapinfoarea {   width:99.8%;    min-height:300px;   position:relative;  
							border:1px  solid  #ddd;   margin-top:20px; 
		}
		.mapbox  {  width:100%;   height:547px;   overflow:hidden;   
						/* border:1px  solid  #ddd;   border-left:none;  */
		}
		.mapbox img {   width:100%;    }

		.mapdescbox {    width:35%;   height:auto;   /* height:532px; */  background-color:#fff;   position:absolute;   top:0px;   left:0px;   
							/* border:1px solid  #ddd;    border-top:none;    border-left:none; */ border-left:1px solid  #ddd; 
		}
		.msearchbox  {    width:100%;   height:auto;   position:relative;      }
			.msearchinfo  {   width:100%;   height:547px;  }
			.infobtn {  width:20px;  height:52px;   position:absolute;   top:245px;   right:-20px;    }
			 .infobtn p {  width:100%;  height:100%; }
			 .infobtn a {   display:block;  width:100%;  height:100%;     }
			 .infobtn a img  {       }

			.msdesc  {   width:100%;  height:50px;  color:#333;  border-bottom:1px solid  #ddd;      
							background-color:#eee;   line-height:50px;  font-size:14px;   text-indent:20px; 
							font-weight:500;
			}
			.msinfo  {  color:#4582e9;   }

			.mtab  {   width:100%;  height:446px;    }
			.mtab > li {   float:left;    background-color:#fff;  }
			.placeinfo {  width:50%;  height:40px;     background-color:#fff;    }
			.placeinfo strong  {   color: #333;   font-size:14px;  line-height:40px;   padding-left:25px;   }
			.placeinfo span  {  color:#4582e9;     font-size:12px;  line-height:40px;  }
			
			.mtab .menu1, .mtab .menu2  {   width:25%;  height:40px;   }

			.menubtn2:link,  .menubtn2:visited,
			.menubtn2:link,  .menubtn2:visited  {   display:block;   width:100%;  height:100%;  
												color:#333;   font-size:13px;  line-height:40px; 	 text-indent:20px;  
			}
			.menubtn2:hover,  .menubtn2:focus,
			.menubtn2:hover,  .menubtn2:focus    {   color:#4582e9;   }
			
			.mpanel {  width:349px;   min-height:150px;  position:relative;   }
			.mpanel.pn1 {   top:0px;  left:-175px;    }
			.mpanel.pn2 {   top:0px;  left:-262px;    }
			
			.mdesc  {   width:100%;   height:80px;   border:1px  solid  #ddd;  
							border-top:none;  border-left:none;  background-color:#f9f9f9;	
			}
			.mdesc.md1  {  border-top:1px  solid  #ddd;     }
	

			.mdesc > a:link,  .mdesc  > a:visited   {  
											    display:block;   width:100%;  height:100%;  
												color:#777;  
			}  
			.mdesc > a:hover,  .mdesc > a:focus   {     text-decoration:underline;      }
			
			.mdesc img {   padding: 22px 20px 0 30px;      float:left;  }
			.mdesc strong ,   .mdesc span {   display:block;   font-size:13px;    }
			.mdesc strong {    color:#4582e9;  padding-top:11px;   }
			.mdspan  {   color:#333;   }

			.mapmore  {   width:100%;  height:50px;  background-color:#fff;   
								
			}
			.mapmore a:link, .mapmore a:visited  {   
											color:#e56e6e;  	
			}
			.mapmore a:hover, .mapmore a:focus  {     }


/*   sub - 이벤트   */
		


		.subnav.m4  {   width:122px;  height:30px;   }
		.subnav.m4 > .subnava2 {    width:80px;  height:30px;   }
			
		.maininner.m4  .contant.c1  {   width:100%;    height:350px;  margin-bottom:64px;  }
		.maininner.m4  .cvisual.c1 {  width:100%;  height:320px;   }
		.cvisualbox.m4  {  height:260px;  /* margin-bottom:64px; */  }
		.cvisualbox.m4 a {  display:block;   width:100%;  height:100%;   }
		.cvisualbox.m4 a  img {  width:100%;  }

		.ctabmenu.m4ctab .ctab > li {   width:25%;  /* height:60px;  */   float:left; 
							padding-top:10px; 
		}
		
		.ctab.m4 {       /*  width:958px;  */   width:95.8%;  height:auto;   margin:0 auto;     
					    margin-bottom:60px; 	
	    }		
		.ctab.m4 .cpanel.pn2 {   top:0px;  left:-239px;    }
		.ctab.m4 .cpanel.pn3 {   top:0px;  left:-478px;    } 
		.ctab.m4 .cpanel.pn4 {   top:0px;  left:-717px;    } 

		.cdesc.m4 {   padding:0;   }
		.cdesc.m4.cd1, .cdesc.m4.cd2 {  width:100%;  height:272px;   margin:10px auto;  /* background-color:#eee; */ }
		
		
		.cdesc.m4.cd1 > li,  .cdesc.m4.cd2 > li {  /* width:232px; */  width:24%;   height:250px;   float:left;     }
		.cdm4.cdl1, .cdm4.cdl2, .cdm4.cdl3  {   margin-right:12.7px;  }
		.cdm4.cdl4 {  margin-right:0px;  }

		
		.cdesc.m4.cd1 > li > a:link, .cdesc.m4.cd1 > li > a:visited, 
		.cdesc.m4.cd2 > li > a:link, .cdesc.m4.cd2 > li > a:visited {    display:block;   width:100%;   height:100%;   
											/* border-bottom:2px solid #eee;  */
		}
		.cdesc.m4.cd1 > li > a:hover, .cdesc.m4.cd1 > li > a:focus, 
		.cdesc.m4.cd2 > li > a:hover, .cdesc.m4.cd2 > li > a:focus  {
												border-bottom:2px solid #b8cb84; 
		}


		.cdesc.m4.cd1 > li > a > img,  .cdesc.m4.cd2 > li > a > img {   width:100%;   height:146px;    }
		.cdesc.m4.cd1 > li > a > strong, .cdesc.m4.cd2 > li > a > strong {  
									display:block;   color:#333;  font-size:15px;  padding:6px 4px 4px;  
		}
		.cdesc.m4.cd1 > li > a > span, .cdesc.m4.cd2 > li >  a > span {   
									display:block;  color:#999;  font-size:12px;   padding:4px;  
		}
		


		/*    페이징    */

			.eventpbox {  width:100%;   height:50px;  margin-top:30px;   }
			.eventp  {    width:43.2%;  height:44px;   /* border:1px  solid  #ddd; */  margin:0 auto;   }
			.event {  width:42px;  height:42px;  float:left;   /*  background-color:#333;   */  }
			
			.event.p1 {  border-left:1px  solid  #ddd;   }
			.event.p1, .event.p2, .event.p3, .event.p4, .event.p5, .event.p6,
			.event.p7, .event.p8, .event.p9, .event.p10   {  border-right:1px  solid  #ddd;  border-top:1px  solid  #ddd;  
									border-bottom:1px  solid  #ddd;      
			}
			.event a:link,  .event a:visited  {  display:block;   width:100%;  height:100%;   color:#aaa;    
											text-align:center;   line-height:40px;  background-color:#fff; 
											font-size:14px; 
			}
			.event a:hover,  .event a:focus  {    color:#fff;    background-color:#777;     }
		   
		  
			.event.p1 a:link,  .event.p1 a:visited,  .event.p2 a:link,  .event.p2 a:visited,
			.event.p9 a:link,  .event.p9 a:visited,  .event.p10 a:link,  .event.p10 a:visited  {   
								color:#555;   /*  background-color:#eee;  */
			}
			.event.p1 a:hover,  .event.p1 a:focus,  .event.p2 a:hover,  .event.p2 a:focus,
			.event.p9 a:hover,  .event.p9 a:focus,  .event.p10 a:hover,  .event.p10 a:focus  {   
					        	color:#fff;  	/*	 background-color:#e56e6e;  */
			}

			

/*   sub - 커뮤니티   */
		

		.subnav.m5  {   width:88px;  height:30px;   }
		.subnav.m5 > .subnava2 {    width:46px;  height:30px;   }


		.arrcobox  {  width:95.8%;   min-height:300px;  margin:20px auto;  /*  background-color:#eee;   */  }
		
		/*
			.faqtitle  {   width:100%;   height:50px;  border-bottom:2px  solid  #e56e6e; 
							position:relative; 
			}
			.faqt {  width:80px;   height:100%;  color:#555;   font-size:16px;   position:absolute;  line-height:50px;  }
			.faqt.s1  {   top:0px;   left:50px; 
							background-image:url('../images/faq_line.jpg');
							background-repeat:no-repeat;
							background-position:79px 20px;
			}
			.faqt.s2  {   top:0px;   left:465px;   }
			.faqt.s3  {   top:0px;   right:50px;  text-align:right;  
							background-image:url('../images/faq_line.jpg');
							background-repeat:no-repeat;
							background-position:0px 20px;
			}

		*/
	
		.arrco  {  width:100%;   min-height:300px;  /*  background-color:#eee;  */
					border-top:2px  solid  #e56e6e;  padding-bottom:20px;  position:relative; 
		}
		.arrco dt  {  width:100%;  height:80px;   border-bottom:1px  solid  #eee;   
					    font-size:14px;   /* background-color:#555;  */
						
		}
		.arrco dt a:link ,  .arrco dt a:visited  {  display:block;  width:100%;  height:100%;
									font-size:16px;    color:#777;   background-color:#fff;  
									line-height:80px;  text-indent:100px;  position:relative; 
								
									background-image:url('../images/q_icon.png');
									background-repeat:no-repeat;
									background-position:40px 26px; 
		}
		.arrco dt a:hover ,  .arrco dt a:focus  {   color:#333;   background-color:#fbfbfb;   }
		.faqdown  {   position:absolute;  top:36px;  right:40px;  }

		.arrco dd  {   width:100%;  min-height:50px;   padding:30px 0 40px;   
						 background-color:#fff;   border-bottom:2px  solid  #ddd;   
		} 
		.ddescbox  {   width:85%;  height:100%;   margin:0 auto;   
							background-image:url('../images/a_icon.png');
							background-repeat:no-repeat;
							background-position:0px 2px; 
		}
		.ddesc  {  width:90%;  height:24px;   font-size:14px;   padding-left:52px;  
					 color:#777;
		}